
.home {
    height: 100vh;
    overflow: hidden;
    position: relative;
    width: 100%;
    background-image: url('../img/banner-background.png');
    background-attachment: fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

.home__geometric{
    position: absolute;
    opacity: 0.7;
    z-index: 3;
    left: 0;
    bottom: 0;
    width: 50%;
    height: 30em;
    background-image: url('../img/geometric.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom left;
}

.home__text {
    position: absolute;
    left: 0;
    bottom: 0;
    margin-bottom: 5%;
    margin-left: 5%;
    padding: 0.5em;
    z-index: 4;
    color: white;
    font-family: Moon, sans-serif;
    font-size: 3em;
    line-height: 1em;
    font-weight: 300;
}

.home__photo {
    background-image: url('../img/banner-foreground.png');
    position: absolute;
    z-index: 2;
    right: 0;
    bottom: 0;
    width: 50%;
    height: 90%;
    background-size: cover;
}

.home__text_sub {
    font-family: Roboto, sans-serif;
    letter-spacing: 3px;
    font-size: 0.7em;
}

.home__text_head {
    font-size: 1em;
    font-weight: 500;
    line-height: 1em;
    letter-spacing: 10px;
}

@media (max-width: 840px) {
    .home__photo{
        width: 60%;
    }
}

@media (min-width: 1024px) {
    .home__text_head {
        font-size: 1.7em;
    }
    .home__text_sub {
        font-size: 1em;
    }
}


@media (max-width: 680px) {
    .home {
        font-size: 0.5em;
        background-attachment: initial;
    }
    .home__geometric{
        display: none;
    }
    .home__text_head {
        font-size: 2em;
    }
    .home__text_sub {
        font-size: 1em;
    }
    .home__photo{
        width: 80%;
    }
    .home__text {
        background-color: #b8641f;
    }
}
