.profile {
    display: flex;
    padding: 0;
}

.profile__title {
    font-family: Moon, sans-serif;
    text-transform: uppercase;
    letter-spacing: 6px;
    text-align: center;
    margin-bottom: 1em;
    margin-top: 1em;
    line-height: 1em;
    font-size: 2em;
    font-weight: 400;
    color: #4848488a;
}

.profile__photo {
    width: 45%;
    min-height: 35em;
    background-image: url('../img/profile-photo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

.profile__info {
    margin: auto;
    width: fit-content;
    padding: 1em;
}

.profile__info_text {
    display: flex;
    flex-direction: column;
}

.text-item {
    display: flex;
    flex-direction: row;
}

.text-item_title {
    margin-right: 1em;
    margin-bottom: 1em;
    color: #b8641f;
    font-family: Moon, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 400;
}

.text-item_content {
    display: inline-block;
}

.social-icons {
    display: flex;
    justify-content: center;
}

.social-icons_item {
    margin: 1em;
    text-align: center;
}

.social-icons_item a {
    font-size: 2em;
    line-height: normal;
    color: #3e5a98;
}

.download-button {
    margin: 1em;
    text-align: center;
    text-transform: uppercase;
}

.download-button a {
    cursor: pointer;
    padding: 0.5em;
    letter-spacing: 3px;
    background-color: #b86323;
    border-radius: 10px;
}

.download-button a i {
    margin-right: 0.4em;
}

@media (max-width: 680px) {
    .profile {
        flex-direction: column;
    }

    .profile__photo {
        display: block;
        width: 25em;
        min-height: 25em;
        margin: auto;
        margin-top: 0.5em;
    }

    .profile__title {
        display: none;
    }
}

