.projects {
    padding: 2em;
}

.projects__title {
    position: relative;
    z-index: 2;
    font-family: Moon, sans-serif;
    text-transform: uppercase;
    letter-spacing: 6px;
    text-align: center;
    margin-bottom: 1em;
    line-height: 1em;
    font-size: 3em;
    font-weight: 400;
    color: #484848c2;
}

.projects-grid {
    display: flex;
    justify-content: center;
}

.projects-grid__item {
    margin: 1em;
    display: block;
    cursor: pointer;
    width: 45%;
}

.projects-grid__item_image {
    filter: none;
    transition: all .3s ease;
    width: 100%;
}

.projects__triangle {
    position: absolute;
    z-index: -1;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 15em 15em 0 0;
    border-top-color: #e09d69;
    border-right-color: rgba(0, 0, 255, 0);
}

.projects-grid__item_info {
    color: white;
    margin-top: -11em;
    position: absolute;
    overflow: hidden;
    max-width: 50%;
}

.info__text {
    transition: all .5s ease;
    transform: translateX(-150%);
    margin-left: 2em;
}

.info__text_title {
    font-size: 2em;
    font-weight: 500;
    letter-spacing: 2px;
}

.info__text_description {
    font-size: 1.3em;
    font-weight: 500;
}

.projects-grid__item:hover .projects-grid__item_image {
    filter: contrast(50%) grayscale(1);
}

.projects-grid__item:hover .info__text{
    transform: translate(0, 0);
    opacity: 1;
}

.projects__overlay {
    display: none;
    justify-content: center;
    align-items: center;
    transition: all .3s ease;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, .7);
}

.projects__overlay_content {
    width: 80%;
    height: 80vh;
    position: relative;
    background-color: white;
}

.projects__overlay_nav {
    transition: all .3s ease;
    float: right;
    color: #484848c2;
    font-size: 3em;
    margin-right: 0.3em;
}

.projects__overlay_nav:hover {
    color: #4848487d;
}

.projects__overlay_window {
    padding: 1em 1em 1em 4em;
    height: 90%;
    overflow: scroll;
}

.projects__overlay_window img {
    width: 100%;
}

.projects__overlay_window_content {
    overflow: auto;
    height: 100%;
}

.projects__overlay_window_title {
    border-bottom: 2px solid #b8641f5c;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
    font-size: 1.5em;
    margin-bottom: 0.5em;
    color: #b8641f;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 400;
    width: fit-content;
}

.projects__description {
    font-size: 1.2em;
    letter-spacing: 1px;
}

.projects__features {
    font-size: 1.2em;
    letter-spacing: 1px;
}

.projects__features_item {
    margin: 1em 1em 1em 0;
}

.projects__button {
    transition: all .3s ease;
    text-align: center;
    margin-left: 1em;
    color: #fffffe;
    font-weight: 500;
    width: 7em;
    margin-top: 0.5em;
    font-size: 1em;
    background-color: #b8641fd1;
    border-radius: 10em;
    padding: 0.4em;
}

.projects__button:hover {
    background-color: #b8641f;
}

.projects__buttons {
    display: flex;
    justify-content: center;
}

.projects__overlay_window_header {
    font-size: 2em;
    color: #b8641f;
    text-align: center;
}

@media (max-width: 640px) {
    .projects-grid  {
        flex-direction: column;
    }

    .projects-grid__item {
        margin: 0 0 1em 0;
        width: 100%;
    }

    .info__more {
        margin: 0;
    }

    .projects__overlay_content {
        width: 100%;
        height: 100vh;
    }

    .projects__overlay_window {
        padding: 2em 1em 1em 1em;
        overflow: initial;
    }

    .projects__buttons {
        justify-content: space-evenly;
    }

    .projects__button {
        margin-left: 0;
        width: 40%;
        border-radius: 0;
    }

    .projects__overlay_nav {
        font-size: 2em;
    }

    .projects__title {
        font-size: 2em;
    }

    .info__text_description {
        font-size: 1em;
    }

    .info__text_title {
        font-size: 1.5em;
    }
}