.resume {
    background-color: rgba(102, 15, 27, 0.9);
    padding: 2em;
    color: white;
}

.resume ul {
    list-style-type: none;
}

.resume__title {
    font-family: Moon, sans-serif;
    text-transform: uppercase;
    letter-spacing: 6px;
    text-align: center;
    margin-bottom: 1em;
    margin-top: 1em;
    line-height: 1em;
    font-size: 1.5em;
    font-weight: 400;
}

.resume__timeline {
    line-height: normal;
}

.resume__timeline-left_icon {
    font-size: 2.5em;
    position: absolute;
    margin-top: 1em;
    transform: translateX(-200%);
    border: 1px solid;
    border-radius: 100%;
    padding: 0.2em;
}

.resume__timeline-right_icon {
    font-size: 2.5em;
    left: 100%;
    margin-top: 1em;
    position: absolute;
    transform: translateX(50%);
    border: 1px solid;
    border-radius: 100%;
    padding: 0.2em;
}

.resume__timeline-panel {
    overflow: hidden;
}

.resume__timeline-panel h5 {
    font-weight: 300;
    font-size: 0.9em;
    letter-spacing: 2px;
    color: #ffffffc4;
    margin-top: 0.5em;
    animation-delay: 0.1s;
}

.resume__timeline-panel h4 {
    font-weight: 500;
    font-size: 0.9em;
    text-transform: uppercase;
    letter-spacing: 2px;
    animation-delay: 0.2s;
    margin-top: 0.5em;
}

.resume__timeline-body {
    color: #ffffff91;
    font-weight: 300;
    letter-spacing: 1px;
}

.resume__timeline-left {
    position: relative;
    max-width: 45%;
    padding: 1em;
    width: fit-content;
    left: 50%;
    border-left: 2px solid white;
}

.resume__timeline-right {
    position: relative;
    padding: 1em;
    text-align: right;
    margin-top: 2em;
    border-right: 2px solid white;
    width: 45%;
}

@media (max-width: 680px) {
    .resume {
        padding-bottom: 10em;
    }

    .resume__timeline-left {
        width: fit-content;
        max-width: 100%;
        left: 0;
    }

    .resume__timeline-left_icon, .resume__timeline-right_icon {
        margin-top: 0;
        transform: translateX(0);
        left: 0;
        position: relative;
        width: fit-content;
    }

    .resume__timeline-right {
        border-right: 0;
        width: fit-content;
        text-align: left;
        border-left: 2px solid white;
    }

    .resume__timeline-right_icon {
        left: 0;
        position: relative;
    }

}