.skills {
    background-color: #e6e6e6;
    padding-bottom: 1em;
}

.skills__title {
    position: relative;
    z-index: 2;
    margin-top: -1em;
    font-family: Moon, sans-serif;
    text-transform: uppercase;
    letter-spacing: 6px;
    text-align: center;
    margin-bottom: 1em;
    line-height: 1em;
    font-size: 2em;
    font-weight: 400;
    color: #484848c2;
}

.skills-list {
    display: flex;
    z-index: 3;
    position: relative;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.skills-list li {
    margin: auto;
    width: 20em;
}

.skills-list__icon {
    color: #b8641f;
    font-size: 3em;
    text-align: center;
}

.skills-list__head {
    margin-top: 0.5em;
    margin-bottom: 1em;
    text-align: center;
    font-weight: 500;
    color: #4f504f;
}

.skills-list__body {
    text-align: center;
    color: #4f504f;
    background-color: #fdf9f9eb;
    border-radius: 40px;
    padding: 1em 1em 1em 2em;
    margin: auto;
    margin-bottom: 1em;
    width: 15em;
    max-width: 80%;
}

.skills-list__body_item {
    margin-bottom: 0.5em;
    display: flex;
    justify-content: left;
    align-items: center;
}

.skills-list__body_item i {
    margin-right: 0.5em;
}

@media (max-width: 680px) {
    .skills {
        font-size: 1.3em;
    }

    .skills-list {
        flex-direction: column;
    }

    .skills-list li {
        width: 90%;
    }

    .skills-list__icon {
        font-size: 3em;
    }
}
